<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!-- myBatis를 통해 DB를 다룰때 사용할 파일이다. 실행하고자 할 쿼리 모음 -->

<mapper namespace="ContractMapper">
    <insert id="insertContract" parameterType="ContractItem">
        INSERT INTO contract(company_id, employee_id, con_contractDate, con_revenue, con_payment, con_insurance, con_depositeDate, con_balance, con_memo)
        VALUES (#{companyId}, #{employeeId}, #{contractDate}, #{contractRevenue}, #{contractPayment}, #{contractInsurance}, #{contractDepositeDate}, #{contractBalance}, #{contractMemo});
    </insert>
</mapper>